img {
  display: none;
}


.validate,
.validate::placeholder {
  color: #26a69a;
  opacity: 0.7;
}

.align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}