.nav {
  background-color: #004d40;
  padding: 0 50px;

  &__item {
    font-size: 18px;
    margin-left: 20px;
    padding: 0 10px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }

}